
<%- include('layout', { title: 'All Players' }) %>

<h1>All Players Page</h1>

<div class ="player-chart">
     <% randomPlayers.forEach(player => { %>
            <div class="player-card ">
                <h2 class ="player-name"><%= player.name %></h2>
                <p class ="player-info">
                    <span class="info-label">Position:</span> <span class="info-value"><%= player.position %></span><br>
                    <span class="info-label">Nationality:</span> <span class="info-value"><%= player.nationality %></span><br>
                    <span class="info-label">Shirt No:</span> <span class="info-value"><%= player.shirtNumber %></span><br>
                </p>

                <form action="/markAsFavorite/<%= player._id %>" method="POST">
                    <input type="checkbox" name="favorite" <% if (player.isFavorite) { %>checked<% } %>>
                    <label for="favorite">Add to Favorites</label>
                    <button type="submit">Submit</button>
                </form>
    
            </div>
    <% }); %>
</div>