<%- include('layout', { title: 'My Players' }) %>

<h1>Community Players</h1>

<div class="player-chart">
    <% players.forEach((player, index) => { %>
        <div class="player-card">
            <h2 class="player-name"><%= player.name %></h2>
            <p class="player-info">
                <span class="info-label">Position:</span> <span class="info-value"><%= player.position %></span><br>
                <span class="info-label">Nationality:</span> <span class="info-value"><%= player.nationality %></span><br>
                <span class="info-label">Shirt No:</span> <span class="info-value"><%= player.shirtNumber %></span><br>
            </p>
            <form action="/myPlayers/<%= player._id %>?_method=DELETE" method="POST" class="delete-form">
                <button type="submit" class="delete-button">Delete</button>
            </form>
        </div>

        <% if ((index + 1) % 3 === 0) { %>
            </div><div class="player-chart">
        <% } %>
    <% }); %>
</div>


